
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departmanlar</h2>
<div>
    <table class="border">
        <thead>
            <tr>Departman  Id</tr>
            <tr>Departman Adı</tr>
            <tr>Güncelle</tr>
            <tr>Sil</tr>
        </thead>
    </table>
</div>

