<div class="border-bottom">
    <table>
        <tbody>
            <tr>
                <td>İletişim</td>
                <td>Karamanlı Mahallesi</td>
            </tr>
        </tbody>
    </table>
</div>
