<title>Personel Bilgi Yönetim Sistemi</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Scripts/popper.min.js"></script>
<script src="~/Content/Scripts/bootstrap.min.js"></script>