<div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">PYBS</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href=@Html.ActionLink("Departman","Index","Departman")></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Index">Personel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Giriş Yap</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Üye Ol</a>
            </li>
        </ul>
    </nav>

</div>
